
*{
   margin: 0px; 
    padding: 0px;
}
h1{
    font-size: 30px;
    padding: 10px;
}
body{
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.fundo{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(50px);
}
.calculadora{
    position: absolute;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 3px 5px 5px rgba(255, 255, 255, 0.2);
}
button{
    width: 50px;
    height: 50px;
    background-color: rgba(35, 35, 35, 0.804);
    color: rgb(225, 225, 225);
    border: none;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
button:hover{
    background-color: rgba(24, 28, 29, 0.550);
    border: solid 1px white;
}
.act{
    font-weight: bold; 
    color: rgb(0, 0, 255);
}
p{
    height: 28.80px;
    width: 200px;
    position: absolute;
    background-color: white;
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    color: black;
    text-align: right;
    align-items: center;
}
table{
    margin-top: 80px;
}